html
    head   
        meta(charset='utf-8')
    body   
        h1 
            a(href="/topic") View 
        ul 
            each topic in topics
                li
                    a(href='/topic/' + topic)=topic
        h2= title
        h3= description

        a(href="/topic/new") new